<div shortcut="{right: ctrl.nextImage}">
  <button
    save-btn="ctrl.annotatedSet"
    save-btn-filename="ctrl.albumId+'-annotatedSet.json'"
    class="btn btn-info">Save Set</button>
  <input ng-model="albumId" placeholder="Set to load ({{ctrl.albumId}})">
  <button ng-click="ctrl.loadAlbum(albumId)">Load</button>
  <div class="page-header">
    <h4>Image name {{ctrl.thisImage.imageFilename}} {{ctrl.idx+1}}/{{ctrl.annotatedSet.images.length}} (Album {{ctrl.albumId}})</h4>
  </div>
  <div class="row" style="background: {{ctrl.thisImage.locationId ? 'white':'gray' }}">
    <div class="col-md-8">
      <div class="form-inline" style="max-width: 580px;">
        <label>Location</label>
        <input
            id="locationInput"
            ng-keyup="ctrl.handleKeyup($event,ctrl.thisImage.locationId)"
               tabindex="1"
               ng-model="ctrl.thisImage.locationId"
               typeahead="location.id for location in ctrl.locations | filter:{id:$viewValue} | limitTo:8"
               class="form-control"
              style="width: 350px">
        <div style="position: relative">
          <div id="tagger" ng-show="ctrl.tagData.showTagger"
               ng-style="ctrl.tagData.borderStyle"
               ng-mousemove="ctrl.imageMouseMove($event,true)"
               style="position: absolute; border: solid thick darkgray; color: darkgray; text-overflow: ellipsis;
               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
            {{ctrl.tagData.charId}}
          </div>
          <img id="img" ng-src="{{ctrl.getImageSrc()}}"
               ng-mousemove="ctrl.imageMouseMove($event)"
               ng-click="ctrl.imageClick($event)"
               style="max-height: 300px; max-width: 300px">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="charachterId in ctrl.thisImage.characterIds track by $index">
          <button
            class="btn btn-danger"
            ng-click="ctrl.removeCharachter($index)">Remove</button>
          <button
            class="btn btn-info"
            ng-click="ctrl.tagCharachter($index)">Tag</button>

          <a href ng-show="ctrl.isCharHaveTag($index)"
            ng-mouseenter="ctrl.showBorder($index, true)"
            ng-mouseleave="ctrl.showBorder($index,false)">Tagged</a>
          <select id="tagData-{{$index}}"
                  ng-model="ctrl.thisImage.charQualities[charachterId][0].facing"
                  ng-keyup="ctrl.handleKeyup($event)"
                  ng-if="ctrl.isCharHaveTag($index)">
            <option value="FRONT">Front</option>
            <option value="SIDE">Side</option>
            <option value="UP">Up</option>
            <option value="DOWN">Down</option>
            <option value="BACK">Back</option>
            <option value="BOTTOM">Bottom</option>

          </select>
          {{charachterId}}
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="itemId in ctrl.thisImage.itemIds track by $index">
          <button
            class="btn btn-danger"
            ng-click="ctrl.removeItem($index)">Remove</button>
          {{itemId}}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <label>Add a character</label>

    <form ng-submit="ctrl.addCharacter()">
      <input
        tabindex="2"
        ng-keyup="ctrl.handleKeyup($event, ctrl.characterId)"
        ng-model="ctrl.characterId"
        typeahead="character.id for character in ctrl.characters | filter:{id:$viewValue} | limitTo:8"
        class="form-control">
    </form>

    <label>Add an item</label>
    <form ng-submit="ctrl.addItem()">
      <input
        tabindex="3"
        ng-keyup="ctrl.handleKeyup($event)"
        ng-model="ctrl.itemId"
        typeahead="item for item in ctrl.items | filter:$viewValue | limitTo:8"
        class="form-control">
    </form>


  </div>
  <pre>{{ctrl.thisImage | json}}</pre>

</div>
